{% extends "inicio/base.html" %}
{% load static %}

{% block title %}Destinos - Destinalia{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Descubre Nuestros Destinos</h2>
    
    <div class="row g-4">
        
        {% for destino in destinos %}
        <div class="col-md-6 col-lg-4">
            <div class="destino-card">
                <div class="destino-img" style="background-image: url('{{destino.imagen.url}}');">
                    <div class="destino-overlay">
                        <h3>{{destino.nombre}}</h3>
                        <p>{{destino.pais}}</p>
                        <p class="precio">{{destino.precio}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}